.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
}

.inputContainer span {
  font-size: 0.9rem;
  font-weight: 500;
}

.formInput {
  width: 100%;
  border-radius: 3px;
  padding: 0.7rem 1rem;
  background-color: #e2e2e2;
}

.formInput::placeholder {
  font-size: 0.8rem;
}


